<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" th:href="@{/css/index_style.css}" />
</head>
<body>



<p>  Welcome to my website </p>
<br>
<p th:text=" 'First user name '  ">

</p>

<br>
<form th:action="register" class="search-box">
    <input type="text" placeholder=" "/>
    <button type="reset"></button>
</form>

<a href="register"> Register hereeee </a>
</body>
</html>